body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.canvas-container {
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
#canvas {
  border: 2px solid black;
}

.canvas__input-field {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  margin: 0 auto;
}

.input-box {
  font-size: 20px;
}

.btn {
  padding: 8px;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  width: 40%;
  margin: 20px auto;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}

.btn:hover {
  background-color: rgb(197, 196, 196);
}

#shape {
  padding: 10px;
}

.canvas__ball-destroy {
  margin: 5px auto;
  color: red;
}
